/* --- Company Card --- */
.company-card {
  width: 320px;
  height: 380px;
  background: rgba(26, 61, 100, 0.15);
  border: 1px solid rgba(26, 61, 100, 0.4);
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px) saturate(150%);
  -webkit-backdrop-filter: blur(12px) saturate(150%);
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
  transform: translateY(0);
}

/* Inner subtle glass shine */
.company-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.12),
    rgba(16, 50, 88, 0.05)
  );
  pointer-events: none;
}

/* Hover effect */
.company-card:hover {
  border: 1.5px solid rgb(26, 61, 100);
  box-shadow: 0 10px 25px rgba(26, 61, 100, 0.3),
              0 0 20px rgba(26, 61, 100, 0.2);
  transform: translateY(-6px);
  background: rgba(26, 61, 100, 0.25);
}

/* .company-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 24px rgba(26, 25, 25, 0.15);
} */

/* --- Company Logo Container --- */
.company-logo-container {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 18px 18px 0 0;
  background: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- Logo Img--- */
.company-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1.02) translate(-50%, -50%);
  width: 30%;
  height: auto;
  object-fit: cover;
  border: none;
  transition: all 0.3s ease;
}

.company-card:hover .company-logo {
  transform: scale(1.08) translate(-50%, -50%);
}

/* --- Company Info --- */
.company-info {
  padding: 16px;
  text-align: center;
  justify-content: center
  
}

.company-name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #0a2540;
  font-size: 1.1rem;
  margin-bottom: 6px;
}

.company-location,
.company-industry {
  font-size: 0.9rem;
  color: #555;
}
