.pill-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 12px auto 20px 116px;
  padding: 8px;
  background: #fafafa;
  border-radius: 8px;
  border: 1px solid #eee;
  width: 80%;
}

.filter-pill {
  font-family: "Poppins", sans-serif;
  background: #eaf4ff !important;
  border-radius: 20px !important;
  font-weight: 500 !important;
}
