.home-container {
  padding-top: 100px; /* space below navbar */
  min-height: 100vh;
  background: #e3e8ed;
  font-family: "Poppins", sans-serif;
}

.home-header {
  text-align: center;
  margin-bottom: 20px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: start;
  gap: 24px;
  margin-top: 24px;
  padding-bottom: 60px;
  padding: 3px 3px;
}

/* For tablets */
@media (max-width: 1024px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For mobile */
@media (max-width: 640px) {
  .cards-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.pagination-container {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  padding: 12px 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  z-index: 100;
}

.loader {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-filters {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 20px 0;
}

.home-filters select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  background-color: white;
  cursor: pointer;
}
